{% extends 'base.html.twig' %}

{% block title %}Index des articles du blog{% endblock %}

{% block body %}

    <div class="container">
    
        <h1 class="mt-4">
            Vous êtes sur ma page de blog
        </h1>

        <p>
            Vous trouverez ici tous les articles de mon blog.
        </p>

        <div class="row">

            {% for post in posts %}

        <div class="card ms-4 mb-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <small style="text-decoration:underline">Publié le 14 juillet</small>
                <h5 class="card-title"> {{ post.title }} </h5>
                <p class="card-text"> {{ post.content }} </p>
                <a href="{{ path('blog_show', {slug: post.slug}) }}" class="btn btn-primary">Voir l'article</a>
            </div>
        </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}