{% extends 'base.html.twig' %}

{% block title %}Article : {% endblock %}

{% block body %}

    <div class="container">
    
        <h1> {{ post.title }} </h1>

        <p> {{ post.content }} </p>

    </div>

{% endblock %}